.footer-Text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.231818px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;  
}

.fs-Custom{
    font-size: 14px;
}