@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #13222c;
  --secondary-color: #f55139;
}

/* Root Font Size  */
html {
  font-size: 87.5%;
}

/* Navigation  */
.nav-bar {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.logo {
  max-width: 150px;
}

/* ul {
  display: flex;
  align-items: center;
}

ul li {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
} */

/* Red Underline  */
.red {
  position: relative;
  width: fit-content;
}

.red::after {
  content: "";
  width: 50%;
  position: absolute;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bg-custom {
  background: var(--primary-color);
}

.profile {
  border-radius: 25px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  padding: 5px;
}

.icon {
  width: 30px;
  border: 5px solid var(--secondary-color);
  border-radius: 50%;
}

.search {
  max-width: 30px;
  padding: 7px;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  display: flex;
  align-items: center;
}

/* Navigation End  */



/* Footer Section  */

.footer {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  /* padding: 20px; */
}

.social-media {
  gap: 20px;
}

.social-media-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.margin-left {
  margin-left: 30%;
}

.left {
  position: absolute;
  right: 100px;
}

.logo-footer {
  max-width: 300px;
  margin-bottom: 20px;
}

.kartu-kredit {
  column-gap: 50px;
}

.radius-custom {
  border-radius: 10px 0px 10px 0px;
}

/* Footer Section End  */

/* Responsive to Tablet  */

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .stabilizer {
    align-items: center;
  }

  .pop-up {
    width: 80%;
    height: 40%;
  }

  .responsive-search {
    display: none;
  }

  .menu-bar {
    display: none;
  }

  .box {
    max-width: 350px;
  }

  .hero {
    width: 100%;
  }

  .padding {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .margin-left {
    margin-left: 0%;
  }

  .left {
    position: relative;
    right: 100px;
  }
  .search {
    max-width: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    height: 20px;
  }

  a {
    padding: 10px;
  }

  .responsive-box {
    margin-top: 20px;
  }

  .social-media-img {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
}

/* Responsive to Mobile Phone  */
@media only screen and (max-width: 478px) {
  html {
    font-size: 45%;
  }

  .logo-black {
    max-width: 100px;
  }

  .logo-bank {
    max-width: 80px;
    height: 30px;
  }
  .box {
    max-width: 300px;
  }
}
