.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: #F5F5F5;
  color: black;
}

.side {
  position: relative;
  top: 0;
  left: 0;
}

.ellipse {
  max-width: 45%;
  position: relative;
  top: 0;
  left: 0;
}

.model3d {
  max-width: 45%;
  position: absolute;
  top: 300px;
  left: 150px;
}

.logo-login {
  max-width: 20%;
  position: absolute;
  top: 60px;
  left: 1075px;
}

.form-login {
  max-width: 20%;
}

.ellipseReg {
  max-width: 52%;
  position: absolute;
  top: 20px;
  left: 720px;
}

.vectorReg {
  max-width: 37.5%;
  position: absolute;
  top: 210px;
  left: 775px;
}

.logo-register {
  max-width: 15%;
  position: absolute;
  top: 650px;
  left: 1200px;
}

.form-register {
  /* max-width: 50%; */
  position: absolute;
  top: 300px;
  left: 1075px;
}

.text-ellipse {
  font-size: 35px;
  position: absolute;
  top: 15%;
  left: 4%;
}

.text-signin {
  font-size: 45px;
  position: absolute;
  top: 20%;
  left: 70%;
}

.text2-signin {
  font-size: 16px;
  position: absolute;
  top: 28%;
  left: 64.5%;
}

.form-login {
  position: absolute;
  top: 35%;
  left: 60%;
}

.text-signup {
  font-size: 45px;
  position: absolute;
  top: 75px;
  left: 20%;
}

.text2-signup {
  font-size: 15px;
  position: absolute;
  top: 140px;
  left: 19.75%;
  color: gray;
}

.form-register {
  position: absolute;
  top: 200px;
  left: 10%;
}

.sign-up-button {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.sign-up-button:hover {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.button-login {
  background-color: #FF725E;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mobile-login-form {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Responsives Media */

@media (max-width: 576px) {
  .side {
    position: relative;
    top: 0;
    left: 0;
  }

  .model3d {
    max-width: 45%;
    position: absolute;
    top: 70px;
    left: 50px;
  }

  .text-ellipse {
    font-size: 10px;
    position: absolute;
    top: 15%;
    left: 4%;
  }

  .logo-login {
    max-width: 37.5%;
    position: absolute;
    top: 50px;
    left: 225px;
  }

  .text-signin {
    font-size: 35px;
    position: absolute;
    top: 105%;
    left: 37%;
  }
  
  .text2-signin {
    font-size: 15px;
    position: absolute;
    top: 125%;
    left: 17%;
  }
  
  .form-login {
    position: absolute;
    top: 145%;
    left: 35%;
  }

  .form-login {
    display: none;
  }

  .mobile-login-form {
    display: block;
    position: absolute;
    top: 145%;
    left: 15%;
  }
  
}
